body {
  text-align: center;
  overflow: hidden;
}

.header-text {
  font-family: cursive;
}


.small-div {
  animation: rotation 8s infinite linear;
} 

 @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
 } 
